{{ define "nav.tmpl" }}
<div class="section-outer nav-outer section-nav" id="section-nav">
    <div class="nav-inner">
        <div class="homeButt navButt" onclick="window.location = window.location.origin">WallBoard</div>
    {{if eq .ViewType "post"}}
    {{else}}
        <div class="newPost navButt" onclick="togglePostForm()" id="newPostButt">New</div>
    {{end}}
    </div>
</div>
<style>{{ template "nav.css" }}</style>
<script>{{ template "nav.js"}}</script>
{{end}}
