{{ define "nav.tmpl" }}
<div class="section-outer nav-outer section-nav" id="section-nav">
    <div class="homeButt" onclick="window.location = window.location.origin">WallBoard</div>
</div>
<style>{{ template "nav.css" }}</style>
<script>{{ template "nav.js"}}</script>
{{end}}
