{{ define "sorts.css" }}
.sorts-outer {
    /* display: flex; */
    /* justify-content: space-between; */
}
.popular {
    margin-left: 2em;
    background-color: orange;
}
.newest {
    margin-right: 2em;
    background-color: blue;
    color: white;
}
{{end}}
