{{ define "postHead.css" }}
.postID {
    cursor: pointer;
}
.timestamp {
    width: fit-content;
}
.postHead-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.show-reply {
    font-weight: bold;
    cursor: pointer;
    background: #709624;
    color: #e6ffce;
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0 2em;
}
.replyView {
    cursor: pointer;
}
{{end}}
