{{ define "postHead.css" }}
.postID {
    cursor: pointer;
}
.timestamp {
    width: fit-content;
    color: #90877a;
}
.postHead-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.show-reply {
    cursor: pointer;
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0 2em;
    color: #618100;
    text-decoration: underline;
}
.viewThread {
    cursor: pointer;
    color: #057ba2;
    text-decoration: underline;
}
{{end}}
