{{ define "replies.tmpl" }}
<div class="section-outer replies-outer section-replies" id="section-replies">
{{ range $k, $value :=  . }}
<div class="post">
        <div class="body-outer">
            <div class="bodytext">{{ $value.BodyText }}</div>
        </div>
        {{ template "postHead.tmpl" $value }}
        <div class="reply-form" id="reply-form_{{$value.Id}}">
            <form class="mainForm">
                <textarea class="postBody" id="body" placeholder="post something..."></textarea>
            </form>
            <div id="errorField"></div>
            <div class="submitButt" onclick="submitReply({{$value.Id}})">post</div>
        </div>
    </div>
    {{ template "replies.tmpl" $value.Children }}
{{end}}
</div>
<style>{{ template "replies.css" }}</style>
<script>{{ template "replies.js"}}</script>
{{end}}
