{{ define "replyForm.tmpl" }}
<div class="section-outer replyForm-outer section-replyForm" id="section-replyForm">
</div>
<style>{{ template "replyForm.css" }}</style>
<script>{{ template "replyForm.js"}}</script>
{{end}}